.landing-page {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.landing-page::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.page-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 600px;
	text-align: center;
	padding: 0 40px;
	box-sizing: border-box;
}

.input_loggin {
	width: 275px;
	height: 47px;
	border-radius: 10px;
	border: solid 1px #cacaca;
	padding: 10px;
	color: #757575;
	font-family: Arial;
	font-size: 15px;
	outline: none;
	margin-bottom: 15px;
}
.button_loggin {
	width: 110px;
	height: 40px;
	border-radius: 14px;
	background-color: #227edc;
	border-color: #227edc;
	color: #ffff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	float: right;
}
.mt {
	margin-top: 100px;
	width: 275px;
}
.button_config {
	width: 110px;
	height: 40px;
	border-radius: 20px;
	border: solid 1px #d1d1d1;
	background-color: #fff;
}

/* 
 * http://stackoverflow.com/questions/489340/how-do-i-vertically-align-text-next-to-an-image-with-css
 * Use margin-bottom
*/

.img-valign {
	vertical-align: middle;
	margin-bottom: 0.75em;
	float: left;
}

.title {
	font-size: 30px;
	float: left;
}
.message-success {
	width: 177px;
	height: 26px;
	font-family: Arial;
	font-size: 23px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.01px;
	color: #363636;
}
